

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  
}

.padre{
   
    display: flex;
   align-items: center;
   justify-content: center;
    width: 600px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
}

form {
   display: flex;
   flex-direction: column;
   justify-content: center;
    max-width: 500px;
    text-align: center;
    padding: 20px;
    width: 600px;
    height: 500px;
 
  }
  
  label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    font-size: 30px;
    
  }
  
  input {
 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-radius: 5px;
  }
  
  button {
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    border: none;
    padding: 10px 20px; 
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
  }